# Working directory for investigating upstream code and Helm charts
wip/
# Direnv cache
.direnv/

# Snowfall lib actually uses this directory, so de-exclude it
!lib/

# Nix realizations
**/result
result*

# PKI exclude, technically the certs aren't sensitive but...
*.pem
*-pass.txt
*.csr
*.key
*.pub

# Some temporary config stuff
*.hcl
*.json
*.yaml

# background temp file
nohup.out
