# helm repo add coredns https://coredns.github.io/helm
# helm pull coredns/coredns --version 1.45.0
# helm upgrade --namespace kube-system --install coredns ./coredns-1.45.0.tgz --namespace kube-system --values coredns-helm-values.yaml
service:
  clusterIP: fda6:3c52:d12b::10
serviceAccount:
  create: true
replicaCount: 2

# prometheus:
#   service:
#     enabled: true
#   monitor:
#     enabled: true
# servers:
# - zones:
#   - zone: .
#     use_tcp: true
#   port: 53
#   # -- expose the service on a different port
#   # servicePort: 5353
#   # If serviceType is nodePort you can specify nodePort here
#   # nodePort: 30053
#   # hostPort: 53
#   plugins:
#   - name: log
#   - name: errors
#   # - name: debug
#   # Serves a /health endpoint on :8080, required for livenessProbe
#   - name: health
#     configBlock: |-
#       lameduck 10s
#   # Serves a /ready endpoint on :8181, required for readinessProbe
#   - name: ready
#   # Required to query kubernetes API for data
#   - name: kubernetes
#     parameters: cluster.local in-addr.arpa ip6.arpa
#     configBlock: |-
#       pods insecure
#       fallthrough in-addr.arpa ip6.arpa
#       ttl 30
#       log
#       errors
#   # Serves a /metrics endpoint on :9153, required for serviceMonitor
#   - name: prometheus
#     parameters: 0.0.0.0:9153
#   - name: forward
#     parameters: . /etc/resolv.conf
#   - name: cache
#     parameters: 30
#   - name: loop
#   - name: reload
#   - name: loadbalance
