name: CI

on:
  push:
    # We don't want to wasted CI minutes on things already on main
    branches-ignore:
      - 'main'

jobs:
  check_development:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest ]
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
    - uses: DeterminateSystems/nix-installer-action@main
    - name: Test nix environment
      run: nix develop

  check_linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        host: [ fat-controller, patient-zero ]
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: DeterminateSystems/flake-checker-action@main
    - name: Test system builds
      run: |
          nix build .#nixosConfigurations.${{ matrix.host }}.config.system.build.toplevel

  check_aarch64-darwin:
    runs-on: macos-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 1
    - uses: DeterminateSystems/nix-installer-action@main
    - name: Test machine
      run: nix build .#darwinConfigurations.AU-AM-1820.system
